<form class="search-form" (ngSubmit)="onSubmit()">
  <div class="search-container">
    <div class="input-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="currentColor" class="search-icon">
        <path d="M784-120 532-372q-30 24-74 38t-90 14q-117 0-198.5-81.5T88-600q0-117 81.5-198.5T368-880q117 0 198.5 81.5T648-600q0 46-14 90t-38 74l252 252-64 64ZM368-292q128 0 218-90t90-218q0-128-90-218t-218-90q-128 0-218 90t-90 218q0 128 90 218t218 90Z"/>
      </svg>
      <input
        type="number"
        class="search-input"
        placeholder="Search post by ID..."
        [ngModel]="searchValue()"
         (ngModelChange)="onSearchValueChange($event)"
        name="id"
        min="1"
      />
    </div>
    <button type="submit" class="search-button" [disabled]="!searchValue().trim()">Search</button>
  </div>
</form>
